<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreguntIA - Inicio</title>
    <link rel="icon" href="/img/LogoPreguntiaSF.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Special+Elite&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/styleMenu.css">
    <link rel="stylesheet" type="text/css" href="/css/styleModalMenu.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="/js/soundEffects.js" type="module"></script>

</head>

<body>
    <div class="container d-flex flex-column justify-content-between vh-100">
        <header class="text-center mt-5">
            <h2>PreguntIA</h2>
            <h3>Menú Principal</h3>
        </header>

        <!-- Botones del Menú -->
        <div class="d-flex flex-column align-items-center">
            <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#dificultadModal">
                <i class="fas fa-user"></i> Un Jugador
            </button>
            <button class="btn btn-secondary mb-3">
                <i class="fas fa-users"></i> Multijugador
            </button>
            <button class="btn btn-secondary mb-3" data-bs-toggle="modal" data-bs-target="#perfilModal">
                <i class="fas fa-user-circle"></i> Perfil
            </button>
        </div>

        <!-- Botones Inferiores -->
        <footer class="d-flex justify-content-around mb-4">
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#infoModal">
                <i class="bi bi-info-circle"></i>
            </button>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#configuracionModal">
                <i class="bi bi-gear"></i>
            </button>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#logoutModal">
                <i class="bi bi-box-arrow-right"></i>
            </button>
        </footer>
    </div>

    <!-- Modales -->
    <div id="modals-container">
        <!-- Modal de Dificultad -->
        <div class="modal fade" id="dificultadModal" tabindex="-1" aria-labelledby="dificultadModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="dificultadModalLabel">Selecciona la Dificultad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body modal-buttons-vertical">
                        <button class="btn btn-outline-success mb-2" onclick="startGame('easy')">Fácil</button>
                        <button class="btn btn-outline-warning mb-2" onclick="startGame('normal')">Normal</button>
                        <button class="btn btn-outline-danger" onclick="startGame('hard')">Difícil</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Perfil -->
        <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content perfil-modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="perfilModalLabel">Perfil de Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body perfil-body text-center">
                        <div id="perfil-avatar-container" class="perfil-avatar-container">
                            <img src="" alt="Avatar del Usuario" id="currentAvatar">
                        </div>
                        <div class="perfil-user-info">
                            <h5 id="usernameDisplay">Cargando...</h5>
                        </div>
                        <div class="perfil-statistics">
                            <h6>Estadísticas</h6>
                            <p><strong>Máximo Puntaje (SP):</strong> <span id="maxScoreSPDisplay">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Selección de Avatar -->
        <div class="modal fade" id="avatarSelectModal" tabindex="-1" aria-labelledby="avatarSelectModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="avatarSelectModalLabel">Selecciona tu Avatar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-gallery d-flex flex-wrap justify-content-center gap-3">
                            <img src="/img/MundiDeportista.png" alt="Avatar 1" class="avatar-option rounded-circle"
                                data-avatar="/img/MundiDeportista.png">
                            <img src="/img/MundiEntretenimiento.png" alt="Avatar 2" class="avatar-option rounded-circle"
                                data-avatar="/img/MundiEntretenimiento.png">
                            <img src="/img/MundiGeografo.png" alt="Avatar 3" class="avatar-option rounded-circle"
                                data-avatar="/img/MundiGeografo.png">
                            <img src="/img/MundiTecnologico.png" alt="Avatar 4" class="avatar-option rounded-circle"
                                data-avatar="/img/MundiTecnologico.png">
                            <img src="/img/MundiHistoriador.png" alt="Avatar 5" class="avatar-option rounded-circle"
                                data-avatar="/img/MundiHistoriador.png">
                            <img src="/img/MundiCientifico.png" alt="Avatar 6" class="avatar-option rounded-circle"
                                data-avatar="/img/MundiCientifico.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal de Información (Ayuda) -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <!-- Encabezado del Modal -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="infoModalLabel">Información del Juego</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Cuerpo del Modal -->
                    <div class="modal-body d-flex">
                        <!-- Contenedor de la Imagen -->
                        <div class="info-image-container">
                            <img src="/img/ModalHelpImg.png" alt="HelpImg" class="info-image">
                        </div>
                        <!-- Contenedor del Texto -->
                        <div class="help-scroll-container ms-3">
                            <!-- Instrucciones para Un Jugador -->
                            <h6 class="help-title">Modo Un Jugador</h6>
                            <p>¡Sigue estos pasos para jugar!</p>
                            <ul class="help-list">
                                <li>Selecciona la dificultad deseada: Fácil, Normal o Difícil.</li>
                                <li>Gira la ruleta para determinar la categoría de tu pregunta.</li>
                                <li>Responde correctamente antes de que el tiempo se acabe.</li>
                                <li>Si aciertas, podrás seguir girando. Si fallas, el juego termina.</li>
                                <li>¡Acumula la mayor cantidad de respuestas correctas posibles!</li>
                            </ul>
                            <!-- Instrucciones para Multijugador -->
                            <h6 class="help-title">Modo Multijugador</h6>
                            <p>En el modo multijugador, la diversión está garantizada:</p>
                            <ul class="help-list">
                                <li>Reúne a tus amigos y seleccionen un anfitrión.</li>
                                <li>El anfitrión crea la sala y comparte el código.</li>
                                <li>Los jugadores se turnan para responder preguntas.</li>
                                <li>Cada respuesta correcta suma puntos al marcador individual.</li>
                                <li>¡Gana el jugador con más puntos al finalizar la partida!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal de Configuración -->
        <div class="modal fade" id="configuracionModal" tabindex="-1" aria-labelledby="configuracionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Encabezado del Modal -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="configuracionModalLabel">Configuración</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Cuerpo del Modal -->
                    <div class="modal-body">
                        <!-- Campo para cambiar el nombre de usuario -->
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" id="newUsername"
                                placeholder="Nuevo Nombre de Usuario">
                            <button class="btn btn-outline-primary" id="saveUsernameButton">
                                <i class="bi bi-floppy"></i>
                            </button>
                        </div>
                        <!-- Campo para cambiar la contraseña -->
                        <div class="input-group mb-4">
                            <input type="password" class="form-control" id="newPassword" placeholder="Nueva Contraseña">
                            <button class="btn btn-outline-primary" id="savePasswordButton">
                                <i class="bi bi-floppy"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Footer del Modal -->
                    <div class="modal-footer d-flex flex-column align-items-start">
                        <!-- Alerta -->
                        <div id="alertMessage" class="alert alert-danger d-none alert-style" role="alert"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Logout -->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Cerrar Sesión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>¿Seguro que quieres cerrar sesión?</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger" id="confirmLogoutButton">Sí</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="/js/jsMenu.js"></script>

</body>

</html>