<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="icon" href="/img/LogoPreguntiaSF.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Special+Elite&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styleForm.css">
    <script type="module" src="/js/registerHandler.js"></script>
    <script src="/js/soundEffects.js" type="module"></script>

</head>

<body>
    <div class="container mt-5 login-container">
        <h2 class="text-center title-text">Registro de Usuario</h2>

        <form id="registerForm" action="/api/users/register" method="POST" class="mt-4 form-style">
            <div class="mb-3">
                <label for="username" class="form-label label-text">Nombre de Usuario</label>
                <input type="text" class="form-control input-style" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label label-text">Correo Electrónico</label>
                <input type="email" class="form-control input-style" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label label-text">Contraseña</label>
                <input type="password" class="form-control input-style" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label label-text">Confirmar Contraseña</label>
                <input type="password" class="form-control input-style" id="confirmPassword" name="confirmPassword"
                    required>
            </div>

            <div id="alertMessage" class="alert d-none alert-style" role="alert"></div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary submit-btn">Registrarse</button>
            </div>
        </form>
    </div>
</body>

</html>